<div class="not-found-view">
  <div class="head">
    <div class="left">
      <h3>FLORE</h3>
      <h4>弗洛法式甜点教室</h4>
    </div>
  </div>
  <div class="class-404">
    <h1>404</h1>
    <p>喔！！！这个页面迷路了，看看网址是不是写错了</p>
  </div>
</div>
