<div class="login-view">
  {{> '../../partials/head.hbs'}}
  <form class="login-form">
    <div class="input-group">
      <label for="">用户名</label>
      <div>
        <input type="text" name="user_name" required>
      </div>
    </div>
    <div class="input-group">
       <label for="">密码</label>
      <div>
        <input type="password" name="password" required>
      </div>
    </div>
    <div class="btn-group">
      <a href='#' class="btn btn-secondary pull-left">返回首页</a>
      <input class="btn btn-primary" type="submit" value="登录">
    </div>
  </form>
</div>
