<div class="welcome-view">
  {{> '../../partials/head.hbs'}}
  <div class="body">
    {{#if DATA.length}}
      {{#each DATA}}
        <a href='{{subject_url}}' class="course-span">
          <img src="{{subject_image}}" alt="">
          <span>{{name}}</span>
        </a>
      {{/each}}
    {{else}}
        暂无课程
    {{/if}}
  </div>
  <div class="footer">

  </div>
</div>
