@import '../../theme/color.scss';

.welcome-view {
  .head {
    font-size: 1rem;
    color: $color-text;
  }
  .body {
    a {
      color: $color-link;
      font-size: 0.8rem;
      text-decoration: none;
    }
  }
  .js-login {
    padding: 0;
    border: 0;
    height: 20px;
    line-height: 20px;
    width: 100px;
    text-align: center;
    background: green;
  }
}
