<div class="welcome-view">
  <p class="head">课程列表</p>
  <div class="body">
    {{#if DATA.length}}
      {{#each DATA}}
        <a href='{{subject_url}}'>{{name}}</a>
      {{/each}}
    {{else}}
        暂无课程
    {{/if}}
  </div>
  <div class="footer">
    <button class="js-login">登录</button>
  </div>
</div>
