<div class="user-center">
  {{> '../../partials/head.hbs'}}
  <div class="body">
    <div class="main-left">
      {{> '../../partials/sidebar/view.hbs'}}
    </div>
    <div class="main-right">
      <div class="content">
        <h3>欢迎回来，{{USER.userName}}!</h3>
      </div>
    </div>
  </div>
</div>
