
.not-found-view {
  .class-404 {
    padding-top: 1rem;
  }
  h1, p {
    width: 10rem;
    margin: 0 auto;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    color: #314272;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}
.user-center {
  .main-right {
    padding: 20px;
  }
  .content {
    min-height: 500px;
    min-width: 500px;
    h3 {
      font-size: 20px;
      line-height: 100%;
      font-weight: normal;
      color: #000;
    }
  }
}
