<div class="user-center">
  {{> '../../partials/head.hbs'}}
  <div class="body">
    <div class="main-left">
      {{> '../../partials/sidebar.hbs'}}
    </div>
    <div class="main-right"></div>
  </div>
</div>
