<div class="sidebar">
  <ul class="level-1">
    <li>
      <a href="/">用户管理</a>
      <ul class="level-2">
        <li><a href="/">用户级</a></li>
        <li><a href="/">修改密码</a></li>
        <li><a href="/">用户权限</a></li>
      </ul>
    </li>
    <li>
      <a href="/">用户级管理</a>
      <ul class="level-2">
        <li><a href="/">用户级</a></li>
        <li><a href="/">修改密码</a></li>
        <li><a href="/">用户权限</a></li>
      </ul>
    </li>
  </ul>
</div>
