@import '../../theme/color.scss';
.filter-form .select {
  font-size: 0;
  select {
    -webkit-appearance: none;
    background: transparent;
    padding: 0 5px;
  }
}
.course-manage {
  .bread-crumb {
    font-size: 12px;
    padding-left: 10px;
    margin-bottom: 20px;
    line-height: 30px;
    border-left: 3px solid $color-primary;
    background: #f5f5f5;
  }
  .ops {
    text-align: right;
    margin: 20px 0;
    .btn {
      padding: 4px 24px;
    }
  }
  .filter-form {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px 10px;
    .input-group {
      display: inline-block;
      height: 1.2rem;
      margin: 0;
      label {
        color: #000;
        font-weight: normal;
      }
      >div {
        border: 1px solid #ddd;
        background: white;
        border-radius: 0;
      }
    }
    .btn {
      height: 1.2rem;
      line-height: 1.2rem;
    }
    .js-reset-search {
      margin-left: 20px;
    }
  }
}
.modal.create-course {
  top: 30%;
  .form {
    >span {
      color: #999;
      font-size: 12px;
    }
    label {
      font-weight: 200;
      color: #333;
    }
    margin: 0 auto;
    width: auto;
    input {
      border-bottom: 0.5px solid #999;
    }
  }
  .js-upload-file {
    height: 100%;
    width: 100%;
    text-align: left;
    line-height: 1.5rem;
    img {
      height: 100%;
    }
  }
  .input-group {
    margin-bottom: 0.2rem;
    > label {
      min-width: 6em;
    }
    .radio label {
      padding: 0 0.5em;
      line-height: 1.5rem;
    }
  }
}
.table-container {
  width: 100%;
  overflow: auto;
}
