<div class="sidebar">
  <ul class="level-1">
    <li><a href="javascript:;" data-href="subjects"><i class="iconflore icon-subject-s"></i>科目管理</a></li>
    <li><a href="javascript:;" data-href="courses"><i class="iconflore icon-course"></i>课程管理</a></li>
    <li><a href="javascript:;" data-href="students"><i class="iconflore icon-xueyuan"></i>学员管理</a></li>
    <li>
      <a href="javascipt:;"><i class="iconflore icon-guanli"></i>系统设置</a>
      <ul class="level-2">
        <li><a href="javascript:;" data-href="users">用户管理</a></li>
        <li><a href="javascript:;" data-href="user-groups">用户组管理</a></li>
        <li><a href="javascript:;" data-href="update-password">修改密码</a></li>
      </ul>
    </li>
  </ul>
</div>
