<div class="back_head">
  <a class="left" href='/'>
    <h3>FLORE</h3>
    <h4>弗洛法式甜点教室</h4>
  </a>
  <div class="right">
    <a class="nav js-logout" href="javascript:;">退出</a>
    <a class="nav" href="#query">查询报名信息</a>
    <a class="nav" href="javascrip:;"><i class="iconflore icon-people"></i>{{USER.userName}}</a>
  </div>
</div>
