@import './theme/color.scss';
html {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  font-size: 0;
  background: #faf4eb;
  color: $color-text;
  min-height: 100%;
  overflow: auto;
  position: relative;
}
* {
  box-sizing: border-box;
}

@media all and (min-width: 376px) {
  html {
    font-size: 24px;
  }
}
@media all and (max-width: 375px) {
  html {
    font-size: 20px;
  }
}
@media all and (max-width: 320px) {
  html {
    font-size: 16px;
  }
}

.btn {
  padding: 0 0.2rem;
  border: 0;
  min-height: 1rem;
  line-height: 1rem;
  min-width: 3rem;
  background: white;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  font-size: 0.6rem;
  &:hover {
    border-color: #ccc;
    background: #dfdfdf;
  }
}
.btn-primary {
  color: white;
  background: rgb(121, 121, 227);
  border: none;
  &:hover {
    border-color: #ccc;
    background: rgb(104, 104, 214);;
  }
}
.btn-secondary {
  border: none;
  &:hover {
    border-color: #ccc;
  }
}


a {
  text-decoration: none;
  color: initial;
}
p, h1, h2, h3, h4, h5 {
  margin: 0,
}

button {
  outline: none;
}

.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.3);
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7.5rem;
    margin-top: -3rem;
    display: inline-block;
    min-width: 15rem;
    background: white;
    color: #333;
  }
  .modal-head {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    .icon-success {
      color: rgb(8, 201, 8);
    }
    .icon-warning {
      color: rgb(234, 241, 41);
    }
    .icon-info {
      color: rgb(63, 156, 242);
    }
    .icon-failure {
      color: rgb(229, 26, 26);
    }
    h3 {
      font-weight: normal;
      i {
        font-size: 0.7rem;
        margin-right: 0.5rem;
      }
      font-size: 0.7rem;
    }
  }
  .modal-body {
    padding: 0.5rem;
    min-height: 2rem;
    p {
      font-size: 0.6rem;
    }
  }
  .modal-foot {
    border-top: 1px solid #ddd;
    padding: 0.5rem;
    text-align: right;
    button {
      margin-left: 0.5rem;
    }
  }
}

.sidebar {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.input-group {
  height: 1.5rem;
  margin-bottom: 1rem;
  >label {
    min-width: 4em;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 0.6rem;
    margin-right: 0.5rem;
    font-weight: 100;
    .required {
      font-size: 0.5rem;
      margin-right: 0.1rem;
      color: #cc1100;
    }
  }
  > div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 7.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
    text-align: left;
    input[type=text], input[type=password], input[type=number] {
      height: 100%;
      width: 100%;
      padding: 0 0.4rem;
    }
    input[type=file] {
      height: 0;
      width: 0;
      overflow: hidden;
    }
    select {
      height: 100%;
      width: 100%;
    }
    input, select {
      border: 0;
      outline: none;
    }
    label {
      font-size: 0.6rem;
      line-height: 0.6rem;
    }
  }
}
.btn-group {
  text-align: right;
  padding-top: 1rem;
  .btn {
    padding: 0.2rem 0.3rem;
    vertical-align: top;
  }
  .btn + .btn {
    margin-left: 1rem;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
.form {
  width: 70%;
}
@media all and (max-width: 414px) {
  .form {
    width: 98%;
  }
}


@import './templates/login/view.scss';
@import './templates/welcome/view.scss';
@import './templates/notfound/view.scss';
@import './templates/sign_up/view.scss';
@import './templates/query_sign/view.scss';
