@import './theme/color.scss';
html {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  font-size: 0;
  color: #333;
  min-height: 100%;
  overflow: auto;
  position: relative;
}
* {
  box-sizing: border-box;
}

@media all and (min-width: 376px) {
  html {
    font-size: 24px;
  }
}
@media all and (max-width: 375px) {
  html {
    font-size: 20px;
  }
}
@media all and (max-width: 320px) {
  html {
    font-size: 16px;
  }
}

.main-left {
  position: absolute;
  width: 240px;
  height: calc(100% - 81px);
  background: #707b9b;
}
.main-right {
  margin-left: 240px;
}

.btn {
  padding: 0 0.2rem;
  border: 0;
  min-height: 1rem;
  line-height: 1rem;
  min-width: 3rem;
  background: white;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  font-size: 0.6rem;
  &:hover {
    border-color: #ccc;
    background: #dfdfdf;
  }
}
.btn-primary {
  color: white;
  background: rgb(121, 121, 227);
  border: none;
  &:hover {
    border-color: #ccc;
    background: rgb(104, 104, 214);;
  }
}
.btn-secondary {
  border: none;
  &:hover {
    border-color: #ccc;
  }
}


a {
  text-decoration: none;
  color: initial;
}
p, h1, h2, h3, h4, h5 {
  margin: 0,
}

button {
  outline: none;
}

.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.3);
}
.modal-loading {
  color: white;
  font-size: 12px;
  line-height: 12px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7.5rem;
  margin-top: -3rem;
  display: inline-block;
  min-width: 15rem;
  background: white;
  color: #333;
  &.tip-modal {
    min-width: auto;
    width: 10rem;
    left: calc(50% + 2.5rem);
  }
  .modal-head {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    .icon-success {
      color: rgb(8, 201, 8);
    }
    .icon-warning {
      color: rgb(234, 241, 41);
    }
    .icon-info {
      color: rgb(63, 156, 242);
    }
    .icon-failure {
      color: rgb(229, 26, 26);
    }
    h3 {
      font-weight: normal;
      i {
        font-size: 0.7rem;
        margin-right: 0.5rem;
      }
      font-size: 0.7rem;
    }
  }
  .modal-body {
    padding: 0.5rem;
    min-height: 2rem;
    p {
      font-size: 0.6rem;
    }
  }
  .modal-foot {
    border-top: 1px solid #ddd;
    padding: 0.5rem;
    text-align: right;
    button {
      margin-left: 0.5rem;
    }
  }
}

.sidebar {
  font-size: 0.8rem;
  line-height: 0.8rem;
  width: 80%;
  min-height: 75%;
  margin: 20px auto;
  border-right: 1px solid #ddd;
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 2px 0;
    a {
      display: inline-block;
      width: 100%;
      line-height: 40px;
      color: white;
      font-weight: 200;
      font-size: 18px;
      padding: 0 10px;
      transition: all 300ms linear;
      &:hover {
        opacity: 0.8;
        background: $color-primary;
      }
      i {
        font-size: 26px;
        margin-right: 20px;
        vertical-align: baseline;
      }
    }
  }
  .level-1 {
    li.active {
      > a {
        background: $color-primary;
      }
    }
    li.open {
      .level-2 {
        display: block;
      }
    }
  }
  .level-2 {
    display: none;
    li {
      a {
        padding: 0 10px 0 55px;
        font-size: 16px;
        i {
          font-size: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}

.pb-loading-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  background-color: rgba(255, 255, 255, 0.9);
}

.input-group {
  height: 1.5rem;
  margin-bottom: 1rem;
  >label {
    min-width: 4em;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 0.6rem;
    margin-right: 0.5rem;
    font-weight: 100;
    color: white;
    .required {
      font-size: 0.5rem;
      margin-right: 0.1rem;
      color: #cc1100;
    }
  }
  > div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 7.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
    text-align: left;
    input[type=text], input[type=password], input[type=number] {
      height: 100%;
      width: 100%;
      padding: 0 0.4rem;
    }
    input[type=file] {
      height: 0;
      width: 0;
      overflow: hidden;
    }
    select {
      height: 100%;
      width: 100%;
    }
    input, select {
      border: 0;
      outline: none;
    }
    label {
      font-size: 0.6rem;
      line-height: 0.6rem;
    }
  }
}
.btn-group {
  text-align: right;
  padding-top: 1rem;
  .btn {
    padding: 0.2rem 0.3rem;
    vertical-align: top;
  }
  .btn + .btn {
    margin-left: 1rem;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
.clearfix{
  content: '';
  clear: both;
}
.form {
  width: 70%;
}
@media all and (max-width: 414px) {
  .form {
    width: 98%;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  border: 1px solid #E1E6EB;
  border-left: none;
  thead th {
    line-height: 20px;
    padding: 8px 12px;
    border-bottom: 1px solid #E1E6EB;
    border-left: 1px solid #E1E6EB;
    white-space:  nowrap;
    text-align: center;
    font-weight: normal !important;
    letter-spacing: 1px;
    background: #d6d9e044;
  }
  tbody tr:hover {
    background: #f1f3f755;
  }
  tbody td {
    text-align:  center;
    line-height: 20px;
    padding: 8px 10px;
    font-size: 13px;
    border-bottom: 1px solid #E1E6EB;
    border-left: 1px solid #E1E6EB;
  }
  a {
    color: $color-link;
    &:hover {
      color: $color-link-hover;
    }
  }
}


@import './templates/login/view.scss';
@import './templates/welcome/view.scss';
@import './templates/notfound/view.scss';
@import './templates/sign_up/view.scss';
@import './templates/query_sign/view.scss';
